.header {
  --background: #05a0af !important;
}

ion-title {
  color: white;
}

.text {
  padding-left: 18px;
  color: rgb(24, 44, 79, 1);
}

::ng-deep .action-sheet-container {
  background-color: white;
}
